body {
    margin: 40px auto;
    max-width: 100%;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    margin: 1em;
    font-family: "Roboto", sans-serif;
}

body a {
    color: #444;
    text-decoration: none;
}

h1, h2, h3 {
    line-height: 1.2
}

input:not([type="checkbox"]) {
    border-right: none;
    border-top: none;
    border-left: none;
    margin-right: 10px;
    width: 100px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3rem auto;
    grid-template-areas: "header header" "route-list route-detail";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li {
    display: inline;
    margin-right: 1em;
}

.route-list {
    grid-area: route-list;
}

.route-detail {
    grid-area: route-detail;
}
